<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.departDao">
    <insert id="addDepart" parameterType="com.qfedu.entity.Depart">
                insert into t_depart (name,createtime ,num,flag) values (#{name},#{createtime},1,1)
    </insert>

    <select id="departlist" resultType="com.qfedu.entity.Depart">
        select * from t_depart where flag = 1
    </select>

    <delete id="departdelete" parameterType="int">
        delete  from t_depart where id =#{id}
    </delete>

    <update id="departupdate" parameterType="com.qfedu.entity.Depart">
        update  t_depart set name = #{name} where id = #{id}
    </update>
</mapper>